.coluna1{
    background-color: grey;
    color: white;
    border: 3px solid black;
    flex: 1;
}

.coluna2{
    background-color: red;
    color: white;
    border: 3px solid black;
    flex: 3;
    margin-left: 20px;
}

header{
    background-color: green;
    color: white;
    border: 3px solid black;
    height: 100px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    width: 1350px;
    height: 500px;
}