.div1{
    border-style: solid;
    color: red;
    width: 100px;
    height: 100px;

    position: relative;
    left: 200px;
    right: 0px;
    bottom: 0px;
    top: 100px;
}

.div2{ 
    border-style: solid;
    color: red;
    width: 100px;
    height: 100px;

    position: relative;
    left: 400px;
    right: 0px;
    bottom: 6px;
}