body {
	background-color: black;
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("https://media1.tenor.com/m/IvyuPtEfzhoAAAAC/matrix.gif");
}

h1, h2, h3 {
	font-size: large;
	color: white;
	text-align: left;
}

#img{
	display: flex;
	justify-content: center;
}

.foto {
	width: 18%;
	border-radius: 50px;
}

.margem{
	background-color: rgba(0, 128, 0, 0.5);

}